/*GENERAL STYLE*/
body{
	font-family: arial, Sun-serif;
	font-size: 100%;
}
ul{
	margin:0;
	padding:0; 
}
ul,li{
	list-style-type:none; 
}
a{
	text-decoration:none; 
}
.conteiner{
	margin: 0px;
	width: 690px;
}
/*HEADE*/
.header{
	padding: 50px 0px;
	background-color: yellowgreen;
}
.header h1,
.header h2{
	color: greenyellow;
	text-align: center;

}
.page-navigation{
  background-color: #222;
  border-color: #101010;
  min-height: 64px; 
}
.page-navigation li{
	float: left;
	width: 100px;
}
.page-navigation a{
	display: block;
	color: #9d9d9d;
	line-height: 4em;
	font-weight: bold;
	text-align: center; 
}
.page-navigation a:hover{
	color: yellowgreen;
}
/*NAVIGATION*/


/*LOGIN FORM*/
.login {
	padding: 15px 0;
	float: right;
}
.login input[type="text"],
.login input[type="password"]{
	padding: 5px 0;
	margin-right: 5px;
	border: 1px solid lightgrey;
	border-radius: 5px;


}
.login input[type="submit"]{
 padding: 5px 15px;
 border-radius: 5px;
 border-radius: 1px solid lightgrey;

}
.login input[type="submit"]:hover,
button:hover
{
	background-color: darkgrey;
	color: white;
}
/*MAIN PART(частина)*/

/*FOOTER*/
